* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
a:visited, a:link {
  text-decoration: none;
  color: black;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.bar{
  position: fixed;
  min-width: 100%;
}
nav {
  height: 80px;
  background-color: #ffff99;
  line-height: 80px;
}

nav::after{
  content: " ";
  display: block;
  clear: both;
}
.nav-logo {
  font-size: 30px;
  /*네비바에 넣고자 하는 것이 무엇인지 다시 한 번 생각해보자. 2가지, 로고와 메뉴의 버튼리스트. 로고는 왼쪽이기 때문에 float: left;를 적용한다. */
  /*여기서 적용하는 float는 다음 등장할 네비바 메뉴를 오른쪽에 위치시키기 위해서도 반드시 필요하다.  */
  float: left;
  margin: 0;
  margin-left: 30px;
}
.nav-menu {
  float: right;
  /*보기 좋게 오른쪽에서 적절희 띄워준다.*/
  margin-right: 30px;
}
.nav-tgt-btn {
  /*'li' 요소 옆에 따라다니는 흉측한 점을 지우는 선언이다. 반드시 적용하자~*/
  list-style-type: none;
  /*불필요한 마진은 없애준다*/
  margin: 0;
}
ul.nav-tgt-btn > li {
  /*애증의 'float'! 버튼을 가로배치 하기 위해서 float: left;를 적용한다. 'ul.nav-btn > li'라고 한 이유는 'nav-btn'이라는 클래스를 가지는 'ul'태그의 'li'태그 3개 각각에 모두 float를 주어야 하기 때문이다~*/
  float: left;
  /*버튼 끼리의 간격을 두기 위해 margin 값을 설정한다*/
  margin-left: 25px;
  font-weight: bold;
}
.header {
  height: 600px;
  background-image: url("./abc.jpg");
  /*배경 이미지가 지정된 영역을 꽉차게 만들어 주는 선언~!*/
  background-size: cover;
  /*사진의 정중앙 부분으로 포지션을 위치시키는 선언이다. 'background-position: (X축) (Y축);'의 형식으로 이용한다.*/
  background-position: center center;
  color: black;
  text-align: center;
}
.hd-title {
  font-size: 100px;
  /*불필요한 마진을 없앤다.*/
  margin-top: 0px;
  /*아래의 글과 간격을 두기 위해 'margin-bottom'값을 설정한다.*/
  margin-bottom: 20px;
  padding-top: 150px;
}
.section {
  text-align: center;
  padding: 100px 0;
  background-color: #FFE4B5;
}

.section::after {
  content:" ";
  display: block;
  clear: both;
}


.section article {
  float: left;
  width: 300px;
  margin-right: 30px;
}

.section article:last-child {
  margin-right: 0;
}

.square {
  overflow: hidden; /*넘치는부분을 숨김*/
  height: 300px;
  width: 300px;
}

.section article img {
  width: 100%;
  height: auto;
}

.section article p {
  margin-top: 40px;
}
.footer {
  padding: 15px;
  text-align: center;
  background-color: #ffff99;
  font-weight: 5px;
